.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox__cases {
    color: red;
    font-weight: 550;
    font-size: 1.65rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: gray;
    font-weight: 650 !important;
    font-size: 1.75rem !important;
    margin-top: 10px !important;
}

.infoBox--selected {
    border-top: 10px solid greenyellow;
}

.infoBox--red {
    border-color: darkred;
}

.infoBox__cases--green {
    color: rgb(80, 192, 80) !important;
}